{% extends "layout.html" %}

{% block icerik %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow border-0 mt-5">
            <div class="card-body p-5">
                <h3 class="text-center mb-4 fw-bold">Giriş Yap</h3>
                
                {% if hata %}
                    <div class="alert alert-danger text-center">{{ hata }}</div>
                {% endif %}

                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">E-posta Adresi</label>
                        <input type="email" name="email" class="form-control" placeholder="ornek@mail.com" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Şifre</label>
                        <input type="password" name="sifre" class="form-control" placeholder="******" required>
                    </div>

                    <button type="submit" class="btn btn-dark w-100 py-2">Giriş Yap</button>
                </form>

                <div class="text-center mt-3">
                    <p class="small text-muted">Hesabın yok mu? <a href="/kayit" class="text-decoration-none">Kayıt Ol</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}