{% extends "layout.html" %}

{% block icerik %}
<div class="text-center py-5 mb-4">
    <h1 class="display-3 mb-3">Prometheon</h1>
    
    <p class="lead text-muted fst-italic">"Verilerle konuşur, sanatla düşünürüm."</p>
    
    <div style="width: 80px; height: 4px; background-color: #556B2F; margin: 30px auto; border-radius: 2px;"></div>
</div>

<div class="row">
    {% for yazi in posts %}
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <a href="/{{ yazi['id'] }}" class="card-img-wrapper d-block mb-3">
                
                {% if yazi['resim'] %}
                    <img src="{{ url_for('static', filename='uploads/' + yazi['resim']) }}" class="card-img-top w-100" alt="Kapak" style="height: 240px; object-fit: cover;">
                {% else %}
                    <img src="https://picsum.photos/seed/{{ yazi['id'] }}/800/500" class="card-img-top w-100" alt="Kapak" style="height: 240px; object-fit: cover;">
                {% endif %}
                
            </a>
            
            <div class="card-body p-0">
                <a href="/kategori/{{ yazi['kategori'] }}" class="kategori-badge">{{ yazi['kategori'] }}</a>
                
                <h3 class="card-title">
                    <a href="/{{ yazi['id'] }}" class="text-dark">{{ yazi['baslik'] }}</a>
                </h3>
                
                <p class="card-text text-muted">
                    {{ yazi['icerik'][0:120] }}...
                </p>
                
               <div class="d-flex justify-content-between align-items-center mt-3">
                    <small class="text-muted" style="font-family: 'Inter', sans-serif; font-size: 0.8rem;">
                        🗓 {{ yazi['tarih'] }} <small class="text-muted ms-3">
    <i class="fas fa-eye"></i> {{ yazi['goruntulenme'] }}
</small>
                    </small>
                    <small class="text-muted fw-bold" style="font-size: 0.75rem; color: #556B2F !important;">
                        ⏱️ {{ yazi['icerik'] | okuma_suresi }} okuma
                    </small>
                </div>
        </div>
    </div>
    {% else %}
        <div class="col-12 text-center py-5">
            <h4 class="text-muted">Henüz hiç yazı yok. İlk kıvılcımı sen çak! 🔥</h4>
        </div>
    {% endfor %}
</div>
{% endblock %}